// Search

.search-wrapper
    background #f8f8f8
    border 1px solid #f0f0f0
    border-radius 3px
    box-shadow 0 1px 0 #fff
    margin 0 auto
    padding 3px
    width 600px

.search-input
    background #fff
    border 1px solid #ddd
    border-radius 1px 0 0 1px
    box-shadow 0 0 8px rgba(0,0,0,0.1) inset
    float left
    font-size 22px
    height 30px
    margin-right -1px
    padding 15px
    outline none
    width 400px

a.search-button
    border-color #ddd
    border-radius 0 1px 1px 0
    float right
    font-size 22px
    line-height 1.5
    height 62px
    padding 15px
    width 161px

    &:hover
        text-decoration none

    &:active
        box-shadow 0 0 12px rgba(0,0,0,0.1) inset
